*{
	padding: 5px;
	background-color: #240;
	font-size: 30px;
	
	margin: center;
	background-color: #93;
	

}
.Titulo{
	color: #fff;
	text-align-last: center;
	font-size: 50px;
	background-color: #286
	width: 50%;
	padding: 30px;
	margin: auto;
	background-color: #fff;
	border-radius: 90px;

}
}
.Formulario{
	width: 50%;
	padding: 30px;
	margin: auto;
	background-color: #fff;
	border-radius: 90px;

}
.formc{
	background-color: #fff
}
.Caja{
	background: transparent;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 2px solid #999
	width: 90%;
	padding: 10px;
}
.Caja:focus{
	border-bottom: 2px solid yellow;
	transition: 2s;
}

.btn{
	background:transparent;
	border:2px solid #000;
	width: 95%;
	margin: auto;
	cursor: pointer;
}
.btn:hover{
	background-color: #80; 
	color: red;
	border: 2px solid #233;
}
.menu{
	width: 100%;
	background-color:;
	color: yellow;
	display: inline-block;

}
.menu:ul{
	text-decoration: none;
}
.li{
	color: #94
}